{{#if success}}
    {{#each success}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="fas fa-check-circle me-2"></i>{{this}}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {{/each}}
{{/if}}

{{#if error}}
    {{#each error}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="fas fa-exclamation-triangle me-2"></i>{{this}}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {{/each}}
{{/if}}